/* .map-chart {
  color: blue;
  background-color: brown;
} */

path {
  
  fill: #ccc;
}

path:hover {
  fill: blue;
}

#tiny {
  border-radius: 50%;
}
#smiley:hover {
  transform: scale(1.1);
  /* color: whitesmoke !important; */
}