/* .map-chart {
  color: blue;
  background-color: brown;
} */

path {
  
  fill: #ccc;
}

path:hover {
  fill: blue;
}

/* img {
  max-width: 100%;
  max-height: 100%;
} */

#smiley:hover {
  transform: scale(1.1);
  /* color: whitesmoke !important; */
}